.contacts{
    color: black;
    width: 100%;
    min-height: auto;
    text-align: center;
    font-family: "Poppins";
    padding: 0;
    /* border-top:  2px solid #099268; */
}
.contacts-block{
   display: flex;
   justify-content: space-around;
   align-items: center;
   margin: 0 0 3em 0;
}
.contacts-part2 img{
    max-width: 75%;
    min-height: auto;
   
}
.contacts-theme{
    font-weight: 600;
    font-size: 2rem;
    color: #099268;
    padding: 1.4em;
    
}
.contacts-part1{
    text-align: left;
    padding: 3em 2em 3em 11em;
    line-height: 1.5rem;
}
.contacts-prg, .phone-icon, .hours-icon{
    font-size: 1.8rem;
    color: #0ca678;
    font-weight: 500;
    line-height: 5rem;
}
.address-theme, .hours-theme {
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #868e96;
}
.phone-number a {
    text-decoration: none;
    color: #868e96;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
   
    
}
.phone-number a:hover {
    
   text-shadow:#0ca678 1px 0 10px;
    
}