.home{
    width: 100%;
    min-height: 0 auto;
}
.home-block{
    background-image: url(../../Assets/mainPhoto.png);
  background-repeat: no-repeat;
  background-position: 50% -4%;
    width: 100%;
    min-height: 0 auto ;
   
}

.booking{
    max-width: 65%;
    margin: auto; 
    position: relative; 
   top: 19.5em;
   left: 2em;
     z-index: 1;
}
.booking-theme{
    max-width: 200px;
    padding: 5px;
    background-color: hsla(0, 0%, 13%, 1);
    color : #ffff;
    border-radius: 20px 120px 0 0 ;
    text-align: center;
    font-family: "Poppins";
    font-weight: 400;
 
    
}
.booking-block{
    width: 90%;
   padding: 30px;
   background: hsla(0, 0%, 100%, 0.65);

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgb(248, 13, 13);
    border-radius: 0 20px 20px 20px;
     border: 1px solid hsla(260, 7%, 33%, 0.1);
     backdrop-filter: blur(50px);
    box-shadow: 
        0px 0px 0px 0px hsla(260, 7%, 33%, 0.15), 
        0px 12px 27px 0px hsla(260, 7%, 33%, 0.15), 
        0px 49px 49px 0px hsla(260, 7%, 33%, 0.13), 
        0px 110px 66px 0px hsla(260, 7%, 33%, 0.08), 
        0px 195px 78px 0px hsla(261, 7%, 33%, 0.02), 
        0px 304px 85px 0px hsla(261, 10%, 33%, 0); 


}
.booking-box{
    min-width: 70%;
    background: rgba(255, 255, 255, 0.929);
    display: grid;
    grid-template-columns: 1.1fr 1.2fr 1.1fr 0.7fr;

    border-radius: 20px;
}
.booking-box label {
    color: hsla(260, 7%, 33%, 0.8);
    font-family:"Poppins";
    margin-top: 10px;
    font-weight: 500;
    font-size: 0.7rem;
}
.selects .bValue{
    font-family: "Poppins";
    border: none;
    font-weight: 500;
    font-size: 1.3rem;
    color: black;
}
.bValue::placeholder{
    color: black;
    text-decoration: none;
}
.selects  {
 display: grid;
  grid-template-columns: 25% 1fr;
  grid-template-rows: 35% 35%;
  align-items:center;
  margin: 20px 0 0 20px; 
}
  .booking-icons {
    grid-row: 1/3;
    font-size: 1.5rem;
    margin-left: 0.5em ;
    color: hsla(261, 100%, 65%, 1);
}
.booking-btn {
    text-align: center;
   font-size: 1.5rem;
   padding: 15px;
   background: hsla(261, 100%, 65%, 1);
    color: #fff;
    border-radius: 17px;
    border: none;
    cursor: pointer;
    margin: 30% 0;
    box-shadow: 0px 0px 0px 0px hsla(260, 7%, 33%, 0.15),

    0px 12px 27px 0px hsla(260, 7%, 33%, 0.15),
   
   0px 49px 49px 0px hsla(260, 7%, 33%, 0.13),
   
    0px 110px 66px 0px hsla(260, 7%, 33%, 0.08),
   
    0px 195px 78px 0px hsla(260, 7%, 33%, 0.02),
   
   0px 304px 85px 0px hsla(260, 7%, 33%, 0);
}
.booking-search{
    text-align: center;
}
.bValue{
    min-width: 60%;
    color: hsla(260, 7%, 33%, 1);

}
.booking-line1{
    width: 1px;
  height: 35%;
  background-color: black;
  opacity: 0.25; 
  position: absolute;
  top: 60px; 
  left: 230px; 
  display: flex;
  justify-content: first baseline;
}
.booking-line2{
    width: 1px;
  height: 35%;
  background-color: black;
  opacity: 0.25; 
  position: absolute;
  top: 60px; 
  left: 550px; 
 
  
}
.booking-inp[type="text"]{
    width: 80%;
}
.booking-guests[type="text"]{
    width: 70%;
}
.select3{
   
}
.booking-date[type="date"]{
    font-size: 1rem;
    max-width: 80%;
}
.img-balon{
    position: absolute;
    bottom: 33em;
    right: 1em;
    padding: 10px;
}
.img-camera{
    position: absolute;
    top: 15em;
   left:  3em;
}
.img-coffee{
    position: absolute;
   top:29em;
  right: 15em;
    z-index: 1;
}
.img-dsn{
    position: absolute;
   top: 100px;
   right: 190px;
   margin: 20px;
}
.img-durbu{
    position: absolute;
  top: 490px;
    left: 250px;
}
.img-plane{
    position: absolute;
    top: 100px;
    left: 300px;
    max-width: 200px;
}
.advantages{
    width: 90%;
    min-height: o auto;
    margin: 33em 0 3em 5em;
    
}
.adv-block{
    display: grid;
    grid-template-columns: repeat(4,1fr);
  
}
.adv-theme{
    text-align: center;
    font-family: "Poppins";
    font-weight: 600;
    font-size: 2.5rem;
    color: hsla(260, 7%, 33%, 1);
    line-height: 60px;
    margin-bottom: 1em;
}
.adv-boxes{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.adv-img3{
    width: 60px;
    height: auto;
   text-align: center;

}
.adv-balloon{
   
}
.adv-boxes p{
    font-family: "Poppins";
    font-weight: 600;
    font-size: 1.3rem;
    color: hsla(260, 7%, 33%, 1);
    line-height: 33px;
    text-align: center;
}
.advimges{
 margin-bottom: 1em;
}
.adv-img4{
  margin: 0;
  width: 80px;
  height: 80px;
}
.adv-boxes span{
    font-family: "Roboto";
    font-size: 1rem;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
    color: hsla(260, 7%, 33%, 1);
    padding: 0 2em;
} 
.cursor-pointer{
   color: black;
   font-size: 1.5rem;
}
/* .home{
    width: 100%;
    min-height: 170vh;
    background: hsla(0, 0%, 98%, 1);
    text-align: center;
}
.home-block{
   display: grid;
   gap: 10em ;
  padding: 5em 0;
}
.home-boxes{
    display: grid;
    grid-template-columns:  repeat(2,1fr);
}

.part1{
    position: relative;
 
}
.boxImgFirst{
    width: 50%;
    height:  100%;
    border-radius: 50% 50% 0 50%  ;
    
}

.boxImgSecond{
    border-radius: 50%;
    width: 19%;
    height: auto ;
    position:absolute;
    top: 0;
   right: 10em;
    border: 5px solid #fff;
    border-radius: 50px 0 50px 50px;
}
.parts-prg{
 font-family: "Poppins";
 color: hsla(260, 7%, 33%, 1);
    font-weight: 600;
    line-height: 3.5rem;
    font-size: 2.7rem;
    width: 65%;
    text-align: start;
}
.parts-prg2 {
    font-family: "Poppins";
    line-height: 1.4rem;
    color: hsla(260, 7%, 33%, 1);
    font-size: 1rem;
    font-weight: 400;
    width: 70%;
    text-align: start;
    text-wrap:" pretty";
    
}
.parts-link{
    color: hsla(266, 100%, 50%, 1);
    text-align: start;
    padding-top: 1em;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 600;
    line-height: 27px;
}


.home-box2{
   
  
}
.part3{
    width: 85%;
   margin: 0 0 0 9em;
   
}

.boxImgthird{
    width: 50%;
    height:  90%;
    border-radius: 30% 0  30% 0  ;
    
}
.part4{
    position: relative;
}
.home-box3{
    position: relative;
}
.boxImgFourth{
    border-radius: 30% 0  30% 0  ;
    width: 18%;
    height: 25% ;
    position:absolute;
    top: 0.5em;
   right: 10em;
    border: 5px solid #fff;
}
.boxImgFiveth{
    max-width:  50%;
    min-height: 100%;
    border-radius: 0 0 0 50% ;
    
}
.boxImgSixth{
    border-radius: 30% 20% / 10% 30%; 
    border: 4px solid #fff;
    max-width: 18%;
    
    position: absolute;
    top: -2em;
    right: 9em;
}
 */
