@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
.admin-dashboard {
    width: 100%;
    min-height: 100vh; 
    height: auto;     
    font-family: "Poppins", sans-serif;
    text-align: center;
    overflow-y: auto;  
    box-sizing: border-box;
    padding: 20px;    
  }
  
.admin-img{
    background-image: url(../Assets/admin.png);
   background-size: 40%;
   background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 65vh;
}
.admin-dashboard h2{
    color: black;
 padding: 2em;
}
.product-total{
    padding: 24em 0 5em 0;
    display: flex;
    gap: 0.5em;
    flex-direction: column;
}
.product-total p{
    font-size: 1.3rem;
    color: #868e96;
    font-weight: 500;

}
.product-total button{
    padding: 0.7em 2.5em;
    border: none;
    font-size: 1rem;
    color: #868e96;
    border-radius: 10px;
    text-align: center;
    transition: background-color 0.3s;
    cursor: pointer;
}
.product-total button:hover{
    background-color: hsl(179, 72%, 57%);
    color: aliceblue;
}
