.admin-dashboard {
    width: 100%;
    min-height: 100vh;
    font-family: "Poppins", sans-serif;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    overflow: hidden;
  }
  
  .admin-img {
    background-image: url(../Assets/admin.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 55vh;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  
  .admin-dashboard h2 {
    margin-top: 2rem;
    color: black;
  }
  
  .product-total {
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 1.4rem;
    align-items: center;
    margin-bottom: 2rem;
  }
  
  .product-total p {
    font-size: 1.3rem;
    color: #868e96;
    font-weight: 500;
  }
  
  .product-total button {
    padding: 0.8em 2.2em;
    border: none;
    font-size: 1rem;
    color: #868e96;
    background-color: #e9ecef;
    border-radius: 10px;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .product-total button:hover {
    background-color: hsl(179, 72%, 57%);
    color: #fff;
  }
  
  @media (max-width: 1024px) {
    .admin-img {
      height: 45vh;
      background-size: contain;
    }
  
    .product-total {
      gap: 1.2rem;
    }
  
    .product-total p {
      font-size: 1.2rem;
    }
  }
  
  @media (max-width: 768px) {
    .admin-dashboard h2{
        margin:2rem 0 0  1rem;
    }
    .admin-img {
      height: 40vh;
      background-size: contain;
    }
    
    .product-total {
      gap: 1rem;
      margin-top: 2rem;
    }
  
    .product-total p {
      font-size: 1.1rem;
    }
  
    .product-total button {
      width: 90%;
      max-width: 320px;
    }
  }
  
  @media (max-width: 480px) {
    .admin-img {
      height: 20vh;
      background-size: contain;
    }
  
    .product-total {
      gap: 0.9rem;
    }
  
    .product-total p {
      font-size: 1rem;
    }
  
    .product-total button {
      width: 92%;
      padding: 0.5rem 1rem;
      font-size: 0.95rem;
    }
  }
  