* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  line-height: 1.6;
}

.App {
  width: 100%;
  height: 100%;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}
@media (min-width: 1200px) {
  .container {
    padding: 0; 
  }
}