.customer-page {
  max-width: 1400px;
  min-height: 100vh; 
  height: auto;     
  font-family: "Poppins";
  overflow-y: auto;  
  box-sizing: border-box;
  padding: 2em  0;
 margin: 0 auto;
  }
  .customer-title{
    text-align: center;
    font-size: 2.5em;
    margin: 0.5em 0;
    color: hsl(35, 100%, 47%);
    font-weight: bolder;
  }
  .customer-grid{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 2em 0 ;
  }