.auth-block {
  min-height: 83vh; 
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  padding: 20px; 
}

.auth-page {
  width: 100%;
  max-width: 400px; 
  padding: 40px 30px;
  border: 1px solid #f08c00;
  border-radius: 16px; 
  box-shadow: 0 10px 40px hsla(37, 100%, 50%, 0.1); 
  text-align: center;
  transition: transform 0.3s ease;
}

.auth-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.auth-page h2 {
  margin-bottom: 25px;
  color: #f08c00;
  font-size: 1.8rem;
}

.auth-page .auth-inp {
  width: 100%;
  box-sizing: border-box; 
  padding: 14px;
  margin: 10px 0;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
  transition: all 0.3s ease;
  text-align: center;
}

.auth-page .auth-inp:focus {
  border-color: #f08c00; 
  box-shadow: 0 0 8px rgba(240, 140, 0, 0.2);
}

.auth-page button {
  width: 100%;
  max-width: 200px; 
  padding: 12px 0;
  margin-top: 20px;
  background-color: #007bff;
  color: #fff;
  font-weight: 600;
  font-size: 1rem;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.auth-page button:hover {
  background-color: #0056b3;
  transform: translateY(-2px); 
}

.auth-page p {
  margin-top: 20px;
  color: #f59f00;
  cursor: pointer;
  text-decoration: none; 
  font-size: 14px;
  transition: color 0.3s;
}

.auth-page p:hover {
  color: #007bff;
  text-decoration: underline;
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.eye-icon {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #999;
  font-size: 1.2rem;
  transition: color 0.3s;
}


@media (max-width: 480px) {
  .auth-page {
    padding: 30px 20px; 
    border-radius: 12px;
  }
  
  .auth-page h2 {
    font-size: 1.5rem;
  }

  .auth-page button {
    width: 100%; 
    max-width: none;
  }
}