
  
  .tours-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .tours-table th,
  .tours-table td {
    border: 1px solid #ddd;
    padding: 0.8em 2em;
    text-align: center;
  }
  
  .tours-table th {
    background-color: #f4f4f4;
  }
  
  .edit-btn,
  .delete-btn,
  .detail-btn,
  .add-btn {
    margin: 0 5px;
    padding: 6px 12px;
    border: none;
    cursor: pointer;
    border-radius: 6px;
    font-weight: 500;
  }
  .detail-btn{
    background-color: #339af0;
    color:white ;
  }
  a.add-btn {
    display: inline-block;
    padding: 0.5em 1.5em;
    background-color: #339af0;
    color: white !important;
    font-weight: bold;
    font-size: 1rem;
    text-decoration: none !important;
    border-radius: 6px;
  
    /* ✅ Add spacing below */
    margin-bottom: 2em;
  }
  
  
  .edit-btn {
    background-color: #4caf50;
    color: white;
  }
    
  .edit-btn:hover {
    background: #388e3c;
  }
  .detail-btn:hover,
  .add-btn:hover {
    background-color: #1c7ed6;
    }
  