.mybooking-page{
    width: 100%;
    min-height: 90vh; 
    height: auto;     
    font-family: "Poppins";
    text-align: center;
    overflow-y: auto; 
    padding: 20px;     
}

.mybooking-container {
    max-width: 80%;
    margin: auto;
  }
  .bookings-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2em;
    margin-top: 1.5em;
    justify-items: center; 
  }
  
  
  .booking-info {
    background: #fff;
    padding: 1em;
    border-radius: 12px;
    text-align: left;
  }
  .booking-card {
    max-width: 500px;
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 100%;        
    height: 55vh;        
    overflow: auto;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  }
 
  .mybooking-img img{
    border-radius: 3%;
    border: 1px solid #fff;
    width: 100%;
    height: 180px;       
    object-fit: cover;
  }
  .booking-btns{
    padding: 1em ;
    display: flex;
    justify-content: space-between;
  }
  .cancel-btn {
    margin-top: 10px;
    padding: 6px 12px;
    background: #d32f2f;
    color: white;
    border: none;
    border-radius: 6px;
    cursor: pointer;
  }
  .cancel-btn:hover {
    background: #b71c1c;
  }
  