.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1em;
  overflow: hidden;
  padding: 3rem 0 5rem 0 ;
}
.profile-title{
  display: flex;
  justify-content: center;
  padding-top: 5rem ;
}
.profile-card label {
  display: flex;
  flex-direction: column;
  font-size: 1rem;
}

.profile-card input {
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.profile-card button {
  padding: 8px 12px;
  background-color: #007bff;
  border: none;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.profile-card button:hover {
  background-color: #0056b3;
}

.message {
  margin-top: 10px;
  font-weight: bold;
}
input[type="password"] {
  padding: 6px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

