.partner-page {
    font-family: "Poppins";
    color: #333;
    padding: 2em 0 5em 0;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .partner-hero {
    text-align: center;
  }
  .partner-title {
    font-size: 2.5em;
    color: #495057;
    text-align: center;
    padding: 0.2em 0;
  }
  
  .partner-subtitle {
    color: #555;
    font-size: 1.4em;
    font-weight: 500;
    margin-bottom: 2em;
    text-align: center;
  }
  
  .partner-logos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3em;
    margin-bottom: 3em;
    padding: 3em 0;
  }

  
  .partner-card {
    width: 210px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 4px 8px hsl(206, 33%, 74%);
    transition: transform 0.3s ease;
  }
  .partner-card:hover {
    transform: translateY(-10px);
  }
  .partner-logo {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
    /* border: 3px solid #fff; */
  }
  
  
  .partner-info {
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
  }
  
  .partner-info h2 {
    color:#495057 ;
    margin-bottom: 0.5em;
  }
  
  .partner-info p {
    color: #555;
    line-height: 1.6;
  }
  