.search-box{
    display: flex;
    justify-content: space-around;
    width: 50%;
    background: white;
    border-radius: 20px;
}

.search-inp::placeholder{
    font-weight: bold;
    font-size: 1.3rem;
    background: radial-gradient(circle, rgba(230, 119, 0, 1) 5%, rgba(24, 100, 171, 1) 50%, rgba(230, 119, 0, 1) 93%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;}

.search-inp{  
width: 100%;
border: none;
text-align: center;
background: none;
padding: 0.5em;
font-size: 1.5rem;
}

.search-btn{
padding: 0 1em;
border-radius: 1em;
border: none;
background: none;
font-size: 1.5rem;
color: #f08c00;
}
@media(max-width:768px){
    .search-box{
        width: 60%;
    }
    .search-inp::placeholder{
        font-size: 1.1rem;
    }
    .search-btn{
        font-size: 1.4rem;
    }
}
@media(max-width:480px){
    .search-box{
        width: 70%;
    }
.search-inp::placeholder{
    font-size: 0.9rem;
}
.search-btn{
    font-size: 1.1rem;
}
}