.tour-details{
    max-width: 100%;
    min-height: 90vh;
    font-family: "Poppins", sans-serif;
    background: #f8f9fa;
  
}

.detail-slider{
    display: flex;
    align-items: center;
    height: 600px;
    text-align: center;
    padding: 0;
}
.custom-slide-image {
    text-align: center;
    width: 80%;
    height: 30rem; 
    object-fit: cover;
    border-radius: 0.75rem; 
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
                0 4px 6px -4px rgba(0, 0, 0, 0.1); 
  }
  .details-title{
    font-size: 2rem;
    padding: 1em  1em 0 1em;
    color: #f08c00;
    text-align: center;
    font-weight: 600;
  }
  .swiper-button-prev,
  .swiper-button-next {
    border-radius: 50%;
    transition: all 0.3s ease;
    margin: 2em;
    color: #ddd !important;
  }
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    filter: drop-shadow(0 0 0.75rem #1c7ed6);    
  }

  .swiper-pagination-bullet {
    background: lightgray;
    opacity: 1;
    width: 10px;
    height: 10px;
    margin: 1em  !important;
    border-radius: 50%;
    transition: background 0.3s ease;
  }
  
  .swiper-pagination-bullet-active {
    background: #007aff; 
    border: 1px solid #fff;
  }
    .rate-result{
      text-align: end;
      margin-right: 5em;
      font-size: 1.5rem;
      color: #fab005;
    }
  .detail-info{
    padding: 1.8em 0 3em 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 5em;

  }
  .detail-box,.detail-description{
    width: 40%;
    min-height: 25%;
    min-height: auto 0;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding: 2em;
    border-radius: 10px 100px / 120px;
    background: #fff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    line-break: anywhere;
    color: #1864ab;
  }
  .info-block{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    row-gap: 3rem;
  }
  .detail-info strong{
    color: #f08c00;
    font-weight: 600;
    list-style: 12;
  }
  .detail-startDates, .detail-includes ul li {
    list-style-position: outside;
    list-style: none;
    line-height: normal;
    line-height: 1.7rem;
    color: #1864ab;
  }
  .detail-startDates ul li{
    color: #1864ab;
    list-style: none;
  }
  .detail-description{
    width: 80%;
    display: flex;
    justify-content: space-around;
    min-height: auto;
    min-height: auto 0;
    background: #fff;
    line-height: 150%;
  }
.detailLast-box{
display: flex;
justify-content: space-around;
align-items: center;
}

.tour-booking button{
  border: 1px solid #d0ebff;
  font-size: 1.5rem;
  background: #339af0;
  padding: 1em;
  border-radius: 0.6em 2em 2em 0.6em;
  color: #fff
}
.tour-booking button:hover,
.tour-booking button:active{
  color:#339af0;
  background-color: #fff;
}
.stars-rating{
 padding:  0 3em 3em 0;
 line-height: 2em;
}

@media(max-width:1024px){
  .tour-details{
    /* background-color: salmon; */
      }
  .swiper-button-prev,
  .swiper-button-next {
    margin: 0;
  }
  .rate-result{
    margin-right: 5em;
    margin-top: -3rem;
    font-size: 1.3rem;
  }
.detail-info{
  padding: 1.8em 0 3em 0;
  display: flex;
  flex-wrap: wrap;
  gap: 3em;

}
.detail-box,.detail-description{
  margin-top: 2rem;
  width: 45%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 1.1rem;
  padding: 1.5rem;
  border-radius: 0 50px 50px 50px;
}
.info-block{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1rem;
}
.detail-description{
  width: 100%;
  line-height: 1.7;
}
.detailLast-box{
display: flex;
justify-content: space-around;
align-items: center;
}
.tour-booking button{
  font-size: 1.4rem;
  padding: 1em;
}
.stars-rating{
padding:  0 3em 3em 0;
line-height: 1.8rem;
}

}
@media(max-width:768px){
  .tour-details{
    border-bottom: 1px solid #ddd;
      }
      .detail-slider{
        height:  500px;
      }
      .custom-slide-image {
        width: 90%;
        height: 25rem; 
      }
  .swiper-button-prev,
  .swiper-button-next {
    display: none !important;
  }
  .rate-result{
    margin-right: 1.5em;
  }
.detail-info{
  gap: 2.7em;

}
.detail-box,.detail-description{
  margin-top: 1.5rem;
  width: 45%;;
  font-size: 0.9rem;
  padding: 1.1rem;
}
.detail-description{
  width: 100%;
  line-height: 1.7;
}

.tour-booking button{
  font-size: 1.3rem;
  padding: 0.9em;
}
.stars-rating{
line-height: 1.5rem;
}

}
 @media(max-width:480px){
  .tour-details{
 background-color: #f8f9fa;
      }
      .details-title{
        margin-top: 1rem;
        font-size: 1.8rem;
      }
      .detail-slider{
        height: 400px;
      }
      .custom-slide-image{
        height: 20rem;
      }
  .rate-result{
    margin-right: 1em;
    margin-top: -1.5rem;
  }
.detail-info{
  gap: 1em;

}
.detail-box,.detail-description{
  margin-top: 0;
  display: flex;
  font-size: 1rem;
  padding: 1.4rem;
  border-radius: 30px ;
 
}
.detail-box{
  background: none !important;
  border: none !important;
}
.info-block{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  row-gap: 1.4rem;
}
.detail-description{
  width: 100%;
  line-height: 1.5;
}
.detailLast-box{
display: flex;
justify-content: space-around;
flex-direction: column;
align-items: center;

}
.tour-booking button{
  font-size: 1.4rem;
  padding: 1em;
}
.tour-booking{
  margin: 1rem 0 2rem 0;
}
.stars-rating{
padding: 0;
line-height: 1.8rem;
}
.detailLast-box{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

} 
