.tour-list{
  position: relative;
 background: #f8f9fa;
 min-height: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 5rem;
 padding-bottom: 4em;
 width: 100%;
}
.tourList-theme {
  font-family: "Poppins";
  font-size: 2rem;
  padding: 1em  1em 0 1em;
  background: linear-gradient(90deg, rgba(24, 100, 171, 1) 0%, rgba(230, 119, 0, 1) 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    text-align: center;
  font-weight: 600;
}
.hr-gradient{
    border: 0;
    height: 4px;
    background: linear-gradient(90deg, rgba(24, 100, 171, 1) 0%, rgba(230, 119, 0, 1) 100%);
    border-radius: 2px;
    margin: 1rem auto;
    width: 60%; 
}
@media(max-width:768px){
.tour-list{
  width: 100%;
  gap: 3rem;
}
.tourList-theme{
  font-size: 1.5rem;
  margin-top: 2rem;
}
}
@media(max-width: 480px){
  .tour-list{
    gap: 1.5rem;
    width: 100%;
  }
  .tourList-theme{
    font-size: 1.3rem;
  }
}

